body{
	margin:0px;
	padding:0px;
	overflow-x: hidden;
}
.anasayfa_Main{
	width:100%;
	height:100%;

}
.anasayfa_Header{
	width:100%;
	float:left;
	margin:25px 0 0 0;
}
.anasayfa_Body{
	width:100%;
	float:left;
	margin:20 0 0 0;
}
.anasayfa_Footer{
	margin:20 0 0 0;
	width:100%;
	float:left;
}
.header_Bolum{
	width:50%;
	height:110px;
	float:left;
	margin:0 0 10 0;
}


/*@media screen and (max-width: 1024px) {
  .header_Button a{
	float:left;
  }

}*/
.header_Picture{
	width:110px;
	height:110px;
	float:right;
	margin:0 190 20 0;
}
.header_Text{
	font-size:42px;
	float:left;
	width:520px;
	font-family:Calibri;
	margin:27 0 0 -180;
}
.header_line{
	width:50%;
	height:1px;
	color:black;
	background-color:black;
	margin:auto;

}
.header_Button{
	width:100%;
	margin:0;

}
.header_Button a{
	padding-top:10px;
	padding-bottom:10px;
	padding-right:40px;
	padding-left:40px;
	font-family:Calibri;
	background-color:black;
	color:white;
	font-weight:bold;
	font-size:25px;
	border:1px solid black;
	text-decoration: none;	
	border-radius: 5px;


}
.header_Button a:hover{
	background-color:rgb(75, 75, 75);
	border:1px solid rgb(75, 75, 75);

}

.header_Button .cikis{
	padding-top:10px;
	padding-bottom:10px;
	padding-right:40px;
	padding-left:40px;
	font-family:Calibri;
	background-color:red;
	color:white;
	font-weight:bold;
	font-size:25px;
	border:1px solid red;
	text-decoration: none;	
	margin:0 0 0 4;
}
.header_Button .cikis:hover{
	background-color:rgb(104, 0, 0);
	border:1px solid rgb(104, 0, 0);
}
.header_Button .profil{
	padding-top:10px;
	padding-bottom:10px;
	padding-right:40px;
	padding-left:40px;
	font-family:Calibri;
	background-color:green;
	color:white;
	font-weight:bold;
	font-size:25px;
	border:1px solid green;
	text-decoration: none;	
}
.header_Button .profil:hover{
	background-color:rgb(0, 75, 0);
	border:1px solid rgb(0, 75, 0);
}

.body_Bolum{
	width:1100px;
	border:3px solid black;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	font-family:Calibri;
	border-radius:10px;
}
.body_Resim{
	width:200px;
	height:200px;
	float:left;
	margin:10 10 10 40px;
}
.body_Yazi{
	float:left;
	width:600px;
	margin:0 0 0 25px;
	font-size:28;

}
.body_Button1{
	float:left;
	padding:20px;
	border:1px solid black;
	color:black;
	text-decoration: none;	
	font-family:Calibri;
	color:black;
	font-size:21;
	font-weight:bold;
	text-align:center;
	width:65;
	border-radius: 30px;
}
.body_button1:hover{
	opacity: 0.8;
}

.footer_Bolumler{
	width:90%;
	height:190px;
	border-top:2px solid black;
	margin:auto;
	text-align:center;
}
.sablonSecim_Ekran{
	width:85.5%;
	margin:auto;
}
.sablonSecim_Ust{
	float:left;
	width:100%;
	border:2px solid black;
	border-bottom: 0px solid black;
	margin:10 0 0 0;
	text-align:center;	
	color:white;
	background-color: rgb(75, 75, 75);
}
.sablonSecim_Sablonlar{
	float:left;
	width:100%;
	border:2px solid black;
	
	padding:10 0 0 0;
}

.sablonSecim_Alt{
	width:100%;
	float:left;
	text-align:right;
	margin:40 0 0 0;
}
.sablonSecim_Alt .gecisButton{
	background-color:gray;
	color:white;
	font-family:Calibri;
	font-size:28px;
}

.editor_Ekran{
	width:90%;
	margin:auto;
}
.editor_Onizleme{
	float:left;
	width:80%;
	height:100%;
	border:1px solid black;

}
.editor_TapContent{
	float:left;
	width:19.5%;
    height:100%;
	border:1px solid black;
}
.editor_tab {
	overflow: hidden;
}
.editor_tab button {
    background-color: #8D8D8D;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    transition: 0.3s;
    font-size: 17px;
    color:white;
	width:50%;
}
.editor_tab button:hover {
    background-color: #6D6D6D;
}
.editor_tab button.active {
    background-color: #6D6D6D;
}
.editor_tabcontent {
    display: none;
    padding: 6px 12px;
}
.canliDestek_Ekran{
	width:78%;
margin:auto;


}
.canliDestek_Konusma{
	width:100%;
	height:90%;
	border:1px solid black;
	padding:20 0 20 0;

}
.canliDestek_Pencere{
	width:80%;
	height:500px;
	 overflow-y: scroll;	
	margin:auto;
	border:1px solid black;

}
.canliDestek_Yazi{
	width:80%;
	height:80px;
	margin:auto;
	border:1px solid black;
}
.canliDestek_Yazi_textbox{
	margin:10 5 0 10;
	width:80%;
	height:60px;
}
.canliDestek_Yazi_button{
	margin:10 10 0 0;
	width:calc(100%-25px);
	height:60px;
	padding:15;
	text-align:center;
}
.canliDestek_Kullanici{
	width:80%;
	margin:auto;
	height:50px;
	
}
.canliDestek_Kullanici_textbox{
	width:160px;
	height:40px;
	
}
.canliDestekAdmin_Ekran{
	width:90%;
	margin:auto;
}
.canliDestekAdmin_Konusma{
	width:100%;
	height:90%;
	border:1px solid black;
	padding-top:40px;
	padding-bottom:40px;
}
.canliDestekAdmin_Pencere{
	width:80%;
	height:800px;
	margin:auto;
}
.canliDestekAdmin_Mesajlar{
	width:40%;
	height:800px;
	overflow-y: scroll;	
	float:left;
	border:1px solid black;
}
.canliDestekAdmin_Pencere_cevapver{
	width:58%;
	height:800px;

	float:left;
}
.canliDestekAdmin_Pencere_cevap{
	width:100%;
	height:718px;
	overflow-y: scroll;	
	margin:auto;
	border:1px solid black;
}
.canliDestekAdmin_Pencere_cevapyaz{
	width:100%;
	height:80px;
	
	margin:auto;
	border:1px solid black;
}
.canliDestek_admin_Yazi_textbox{
	margin:10 5 0 10;
	width:calc(85% - 30px);
	height:60px;
}
.canliDestek_admin_Yazi_button{
		margin:10 10 0 0;
		
	width:15%;
	height:60px;
}
.girisislem{
	width:1450;
	margin:auto;
}
.girisislem_giris{
	float:left;
	width:50%;
	margin:50 0 0 0;
}
.girisislem_giris table{
	border:1px solid gray;
	font-family:Calibri;
	font-size:20;
	margin:0 0 0 0;
}
.girisislem_giris table td{
	border:0px;
	padding:20 40 0 40;

}
.girisislem_text{
	width:420px;
	height:35px;
	font-size:15px;
	text-indent: 5;
}
.girisislem_button{
	width:95;
	height:35;
	background-color:#F0931C;
	font-family:Calibri;
	font-weight:bold;
	font-size:20px;
	color:#552F03;
	border:1px solid #915000;
	border-radius:5px;
}
.girisislem_kayit{
	width:50%;
	float:left;
	margin:50 0 0 0;
}

.girisislem_kayit table{
	border:1px solid gray;
	font-family:Calibri;
	font-size:20;
	margin:0 0 0 0;

}
.girisislem_kayit table td{
	border:0px;
	padding:20 40 0 40;

}
@media screen and (max-width: 1400px) {
	body{
		overflow-x: auto;
	}
	  .anasayfa_Main{
		width:1100px;
	
	  }
	  .header_Bolum {
		float:none;
		width:100%;
		height:90px;
	  }
	  .header_Bolum .header_Picture{
		margin-right:47%;
	  }
	  .header_Bolum .header_Text{
		width:100%;
		text-align:center;
		margin:0;
	  }
	  .header_Button{
		float:left;
	  }   
	  .sablonSecim_Sablonlar{
		  width:974;
	  }
	  .sablonSecim_Ust{
		width:974;
	  }
	  .girisislem{
		width:100%;
	}
	.girisislem_text{
		width:390;
	}
	}
.ayar_button{
	background-color:#7D7D7D;
	border:1px solid #7D7D7D;
	width:70;
	height:28;
	color:white;
	font-family:Calibri;
	font-size:18;
	
	}
	.ayar_textbox{
	width:190;
	
	font-family:Calibri;
	font-size:16;
	}
	
	.ayar_table{
	font-family:Calibri;
	background-color:#FAFAFA;
	}
	.ayar_textarea{
	width:190;
	height:100;
	}
.nasilkullanilir{
	width:70%;
	margin:auto;
}
.nasilkullanilir_table{
	border-bottom:1px solid black;
	width:100%;
	margin:5 0 15 0;
	text-align:center;
	font-family:Calibri;
	font-size:18;
}
.nasilkullanilir_sag{
	text-align:left;
}

.nasilkullanilir table img{
	width:400;
	height:250;
	border:1px solid black;
	text-align:center;
}
.nasilkullanilir_yazi{
	font-family:Calibri;
	/*border-left:3px solid black;
	border-top:3px solid black;*/
	height:auto;
	/*text-align:center;*/
	width:30%;
	float:left;
	top: -50%;
}
.nasilkullanilir_yazi p{
	margin:5 0 0 10;
	
}
.nasilkullanilir_resim {
	text-align:center;
	width:68%;
	float:left;
}
.nasilkullanilir_resim img{
	width:60%;
}

.footer_Bolumler_yazi{
	color:black;
	font-size:35;
	font-family:Calibri;
	font-weight: bold;
	text-align: Center;
	margin:30 0 0 0;
	width:30%;
}
.footer_Bolumler_gonder{
	text-align: Center;
	margin:20 0 0 0;
}
.email_kullanici_anasayfa{
	width:270px;
	height:35px;
	font-size: 17;
	border-radius: 5px;
	border:1px solid #000000;
	text-indent: 7;
}
.email_kullanici_anasayfa_button{

	background-color: #000000;
	color: rgb(255, 255, 255);
	font-size: 16px;
	padding: 9px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	margin:0 0 10 0;

}
.email_kullanici_anasayfa_button:hover {
	background-color:#C10000;
	color:white;
  }
.footer_Bolumler_alt{
	margin:0 0 0 0;
	padding:10 0 10 0;
	text-decoration: underline;
	font-size: 21;
	font-family: Calibri;
}


.hakkimizda_Bolumler{
	width:100%;

	font-family:Calibri;
}

.hakkimizda_Bolum{
	width:1000px;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	font-family:Calibri;

}
.hakkimizda_Resim_yeni{
	width:250px;
	height:250px;
	float:left;
	margin:0 0 0 140px;
	border-radius: 10px;
}
.hakkimizda_Resim{
	width:250px;
	height:250px;
	float:left;

	border-radius: 10px;
}
.hakkimizda_Resim2{
	width:150px;
	height:150px;
	float:left;
margin:0 25 0 25;
	border-radius: 10px;
}
.hakkimizda_Resim_1{
	width:250px;
	height:250px;
	float:left;
	margin:0 0 0 50px;
	border-radius: 10px;
}

textarea {
	resize: none;
}

.iletisim_button{
	width:95;
	height:35;
	background-color:green;
	font-family:Calibri;
	font-weight:bold;
	font-size:20px;
	color:white;
	border:1px solid green;
	border-radius:5px;
	cursor:pointer;
}
.iletisim_button:hover{
	background-color:rgb(2, 94, 2);

	border:1px solid rgb(2, 94, 2);
}
.dosyateslim{
	width:100%;
	height:600px;
margin:auto;
}
.dosyateslim_ic{
	margin:auto;
}
.dosyateslim_yazi{
	margin:10 0 0 0;
	width:100%;
	font-family:Calibri;
}
.dosyateslim_button{
text-align:center;
	width:100%;
	
}
.dosyateslim_button_tasarim{
	padding:10;
	background-color:#007500 ;
	color:white;
	border:1px solid #007500;
	font-size:24;
	font-family:Calibri;
	margin:10 0 0 0;
	
}
.dosyateslim_button_tasarim:hover{
	background-color:#005000 ;
	border:1px solid #005000;
}
.dosyateslimi_anket_button{
	width:100%;
}
.dosyateslimi_anket_button_ic{
	padding:10;
	background-color:transparent;
	color:rgb(63,74,84);
	border:1px solid transparent;
	font-size:24;
	font-family:Calibri;
	margin:10 0 0 0;
	cursor:pointer;
}
.dosyateslimi_anket_button_ic:hover{
	background-color:rgb(50, 58, 66);
	color:white;
	border:1px solid rgb(50, 58, 66);
}
.dosyateslimi_anket_yap{
	margin:10 0 0 0;
	width:100%;
	font-family:Calibri;
}
.li_ana{
	list-style:none;
	margin-top:10;
	margin-bottom:25;
	width:100%;

	}
	.li_alt{
	list-style:none;
	float:left;
	width:100%;

	margin-top:10;
	}

	.gonder_anket{
		background-color:rgb(87, 87, 87); 
		color:white; 
		padding:8; 
		font-size:17; 
		border:1px solid rgb(87, 87, 87);
		 cursor:pointer;
		 font-family:calibri;
	}
	
.gonder_anket:hover{
	background-color:rgb(56, 56, 56); 
	color:white; 
	border:1px solid rgb(56, 56, 56);
	}
	
#sablonDuzenle_gelen_resim{
	width:100%;
	height:100%;
	margin:auto;
	}
	.sablonDuzenle_ust{
	width:500; 
	height:500; 
	border:1px solid black; 
	float:left;
	margin:25 25;
	}
	.sablonDuzenle_ust_ic1{
	width:100%; 
	height:35; 
	background-color:#DDDDDD; 
	float:left;
	}
	.sablonDuzenle_ust_ic2{
	width:360; 
	height:22; 
	font-family:Calibri; 
	margin:4 0 0 5; 
	padding:3 0 0 10; 
	float:left; 
	border:1px solid black;
	}
	.sablonDuzenle_ust_ic3{
	width:16; 
	height:18; 
	font-family:Calibri; 
	margin:7 5 0 0; 
	padding:0 0 0 8; 
	float:right; 
	border:1px solid red; 
	background-color:red; 
	color:white;
	}
	.sablonDuzenle_ust_ic4{
	width:8; 
	height:12; 
	font-family:Calibri;
	margin:9 5 0 0; 
	padding:0 0 0 10; 
	float:right; 
	border:2px solid black;
	}
	.sablonDuzenle_ust_ic5{
	width:8; 
	height:12; 
	font-family:Calibri;
	 margin:7 5 0 0; 
	 padding:0 0 0 10; 
	 float:right; 
	 border-bottom:2px solid black;
	}
	#sablonDuzenle_sag{
	width:492; 
	height:457; 
	border:1px solid black; 
	float:left;
	margin:4 0 0 0; 
	padding:3;
	}
	.sablonDuzenle_sol{
	width:48%;
	border:0px solid black; 
	float:left; 
	margin: 25 0 0 0;
	}
	#sablonDuzenle_ekran_boyut{
	width:190;
	height:28;
	font-size:18;
	font-family:Calibri;
	}
	#sablonDuzenle_ekran_konum{
	width:190;
	height:28;
	font-size:18;
	font-family:Calibri;
	}
	#sablonDuzenle_ekran_renk{
	width:190;
	height:28;
	font-size:18;
	font-family:Calibri;
	text-indent:5
	}
	.sablonDuzenle_ekran_renk_button{
	font-size:15;
	font-family:Calibri;
	padding:4;
	background-color:gray;
	color:white;
	text-decoration:none;
	border:1px solid black;
	cursor:pointer;

	}
	.sablonDuzenle_EditorGecis_Hazirlik{
		font-size:21;
		font-family:Calibri;
		height:35;
		width:200;
		background-color:green;
		color:white;
		margin:25 0 0 0;
		border:1px solid green;
		cursor:pointer;
	}
	.sablonDuzenle_table{
	font-family:Calibri;
	font-size:18;
	border:0px solid black;
	}
	.sablonDuzenle_baslik{
		float:left;
		width:100%;
		border:2px solid black;
		border-bottom: 0px solid black;
		margin:10 0 0 0;
		text-align:center;	
		color:white;
		background-color: rgb(75, 75, 75);
	}
	.sablonDuzenle{
	width:100%;
	
	
	}
	.sablonDuzenle_icerik{
	width:100%;
	float:left;
	border:1px solid black;
	}

	/* width */
::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #6D6D6D; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }